<div class="pages">
  <div data-page="about" class="page navbar-fixed toolbar-fixed theme-red">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back icon-only">
            <i class="ion-chevron-left"></i>
          </a>
        </div>
        <div class="center">Readings</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">
       
    </div>

    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner bg-red color-white text-center">
          <a href="views/about.html" class="link toolbar-icon"><i class="ion-information-circled"></i></a>
      </div>
  </div>

  </div>
</div> 