<div class="pages">
  <div data-page="home" class="page navbar-fixed toolbar-fixed theme-white">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"></div>
        <div class="center">
          <span class="color-red">Fi</span><span class="color-orange">r</span><span class="color-yellow">e</span><span class="color-black">Fly</span>
        </div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">
      <div class="content-block animated fadeInUp">
        <h1 class="text-center">Devices</h1>

        <div class="list-block">
          <ul id="devices">
            <p>No devices found :(</p>
          </ul>
          <p><a href="#" data-popup=".popup-add" class="button color-red open-popup"><i class="icon ion-plus"></i> Add <span id="btn-count">one</span></a></p>
        </div>

      </div>
    </div>

    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner bg-red color-white text-center">
          <a href="views/about.html" class="link toolbar-icon"><i class="ion-information-circled"></i></a>
      </div>
  </div>

  </div>
</div> 